

#turbo-boost-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    opacity: 0;
    transition: opacity 0.5s;
}
