@tailwind base;
@tailwind components;
@tailwind utilities;

#turbo-boost-animation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    opacity: 0;
    transition: opacity 0.5s;
}

.notification-skill-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}