@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .armory-item {
    position: relative;
    overflow: hidden;
    border-width: 1px;
    background-color: #fff;
  }
  .tier-tab {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
    border-top-right-radius: 0.5rem;
    z-index: 10;
    border-bottom-left-radius: 0.75rem; /* Custom rounded corner */
  }
  .tier-label-legendary {
    background-color: #f59e0b;
  }
  .tier-label-epic {
    background-color: #8b5cf6;
  }
  .tier-label-rare {
    background-color: #3b82f6;
  }
  .tier-label-common {
    background-color: #6b7280;
  }
  .tier-label-grunt {
    background-color: #22c55e;
  }
  .glow-effect {
    filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.8));
  }
}

#turbo-boost-animation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    opacity: 0;
    transition: opacity 0.5s;
}

.notification-skill-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
